@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
:root {
  --black-color: #262626;
  --white-color: #f1faee;
  --primary-color: #ec4329;
  --grey-color: #d9d9d9;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;
}

.heading-main {
  margin: 20px 0 50px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(128, 128, 128, 0.2);
  width: 100%;
}

.heading-sub {
  text-transform: uppercase;
  font-size: 26px;
  letter-spacing: 1px;
  color: crimson;
  font-style: italic;
}

.form-control {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 60px;
}

.form-control label {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 20px;
}
.form-control input {
  padding: 6px 12px;
  font-size: 14px;
  margin-top: 10px;
}

.btn {
  outline: none;
  border: none;
  padding: 10px 24px;
  background-color: crimson;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 3px;
  margin-top: 30px;
  min-width: 150px;
}

.btn:hover {
  background-color: rgba(220, 20, 60, 0.7);
}

.list-contact {
  width: 100%;
  margin: 0 auto;
}

.user {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 2px 4px 1px #354f52;
  margin: 30px 0;
  border-radius: 3px;
}

.name-user {
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
}

.email-user {
  font-size: 14px;
  color: #2a9d8f;
  margin-top: 4px;
  font-style: italic;
}

.icon-delete {
  cursor: pointer;
  transition: all 0.5s;
  color: #d00000;
  font-size: 20px;
}
.icon-delete:hover {
  color: #e76f51;
}

.icon-edit {
  cursor: pointer;
  font-size: 20px;
  transition: all 0.5s;
  color: #219ebc;
}

.icon-edit:hover {
  color: #8ecae6;
}

img {
  width: 100%;
  height: auto;
}

.nav-link {
  text-decoration: none;
}

.info-user .name-user {
  margin-top: 12px;
  font-size: 18px;
  color: #262626;
}

.info-user .email-user {
  font-size: 16px;
}

.contact-detail {
  margin-top: 30px;
  padding: 20px;
  box-shadow: 0px 2px 4px 1px #354f52;
}

.link-user {
  flex: 3;
}

.action {
  margin-right: 24px;
}
